<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改【轮播图】')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-image-add">
            <div class="form-group">
                <input name="id" th:value="${id}" hidden="hidden">
                <label class="col-sm-3 control-label">图片地址：</label>
                <div class="col-sm-8">
                    <input name="image" class="form-control" type="text" style="display: none">
                    <input id="input-b5" name="images" type="file" multiple>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/image";
    $("#form-image-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit",  {imageUrl: img.toString(),id:$("input[name=id]").val()});
        }
    }


    var img = [];
    $(document).ready(function () {
        console.log($('#form-task-add').serialize())
        $("#input-b5").fileinput({
            showUpload: false,
            language: 'zh',
            uploadAsync: true,
            dropZoneEnabled: true,
            uploadUrl: '/common/apk_upload',
            maxFileCount: 3,
            // maxImageWidth: 600,
            resizeImage: false,
            showCaption: false,
            showPreview: true,
            allowedFileTypes: ['image'],
            browseClass: "btn btn-primary btn-lg",
        }).on("filebatchselected", function (event, files) {
            $(this).fileinput("upload");
        })
            .on("fileuploaded", function (event, data) {
                if (data.response) {
                    img[img.length] = data.response.url;
                    $("input[name=image]").val(img.toString());
                    console.log(img)
                }
            });
    });
</script>
</body>
</html>