<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改村庄')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-village-edit" th:object="${cctVillage}">
            <input name="vId" th:field="*{vId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">村庄名称：</label>
                <div class="col-sm-8">
                    <input name="vName" th:field="*{vName}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/village";
        $("#form-village-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-village-edit').serialize());
            }
        }
    </script>
</body>
</html>