<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改任务')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: viewer-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit" th:object="${cctTask}">
        <input name="tId" th:field="*{tId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">村庄id：</label>
            <div class="col-sm-8">
                <input name="vId" th:field="*{vId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务类型</label>
            <div class="col-sm-8">
                <select name="type" class="form-control m-b">
                    <option value="0">打扫任务</option>
                    <option value="1">植树任务</option>
                    <option value="2">纺织任务</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">工资计算方式</label>
            <div class="col-sm-8">
                <select name="paymentType" class="form-control m-b">
                    <option value="1">一口价</option>
                    <option value="2">时结</option>
                    <option value="3">日结</option>
                    <option value="4">计件</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务标题：</label>
            <div class="col-sm-8">
                <input name="title" th:field="*{title}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务金额：</label>
            <div class="col-sm-8">
                <input name="money" th:field="*{money}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所需人数：</label>
            <div class="col-sm-8">
                <input name="personNum" th:field="*{personNum}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发布时间：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="pubdate" th:value="${#dates.format(cctTask.pubdate, 'yyyy-MM-dd')}"
                           class="form-control" type="text" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务到期时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="finishdate" th:value="${#dates.format(cctTask.finishdate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片地址：</label>
            <div class="col-sm-8">
                <ur id="viewer">
                    <th:block th:each="img:*{images}">
                        <img th:src="@{${img}}" style="width: 90px;height: 90px">
                    </th:block>
                </ur>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">详细说明：</label>
            <div class="col-sm-8">
                <input name="description" th:field="*{description}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">浏览量：</label>
            <div class="col-sm-8">
                <input name="pageView" th:field="*{pageView}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">0未满，1已满：</label>
            <div class="col-sm-8">
                <input name="isyet" th:field="*{isyet}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否手工，0是,1不是：</label>
            <div class="col-sm-8">
                <input name="ishandwork" th:field="*{ishandwork}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: jquery-viewer-js"/>
<script type="text/javascript">

    $('#viewer').viewer();
    var prefix = ctx + "task";
    $("#form-task-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-task-edit').serialize());
        }
    }

    $("input[name='finishdate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>